.rect {
    -fx-fill: #836fff;
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}

#tete {
    -fx-fill: #120183;
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}

#nourriture{
    -fx-fill: #ccb802;
    -fx-stroke-width: 1px;
    -fx-stroke: black;
}

#ap{
    -fx-background-color: #ffffb6;
}

#gp{
    -fx-background-color: white;
}